<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.idunnolol.ragefaces"
	android:versionCode="9"
	android:versionName="1.5.1"
	android:installLocation="auto">

	<supports-screens
		android:resizeable="true"
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:xlargeScreens="true"
		android:anyDensity="true" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:name=".RageFacesApp">
		<activity
			android:name=".RageFacePickerActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <action android:name="android.intent.action.PICK"/>
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/png" />
            </intent-filter>
		</activity>

		<activity android:name=".RageFaceViewerActivity" />
	</application>

	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="10" />
</manifest> 